<launch>
  <node pkg="rosserial_python" type="serial_node.py" name="arduino" args="/dev/ttyACM0" output="screen"/>
  <node pkg="demo_3" type="fsm_node.py" name="fsm_node" output="screen">
    <param name="trim" value="-20"/>
  </node>
  <!--node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer"/-->
</launch>
